name: Integration

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - 'docs/**'
      - '**.md'
  workflow_dispatch:

jobs:
  ias-integration-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Golang
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
        cache: true

    - name: Install Kyma CLI & setup k3d cluster using Kyma CLI
      run: |
        make provision-k3d

    - name: Test
      run: |
        bin/k3d kubeconfig get kyma > $PWD/k3d_kubeconfig
        KUBECONFIG=$PWD/k3d_kubeconfig TEST_EVENTING_AUTH_TARGET_KUBECONFIG_PATH=$PWD/k3d_kubeconfig make test-ci
      env:
        USE_EXISTING_CLUSTER: "true" 
        TEST_EVENTING_AUTH_TARGET_KUBECONFIG_PATH: k3d_kubeconfig
        TEST_EVENTING_AUTH_IAS_URL: ${{ secrets.TEST_EVENTING_AUTH_IAS_URL }}
        TEST_EVENTING_AUTH_IAS_USER: ${{ secrets.TEST_EVENTING_AUTH_IAS_USER }}
        TEST_EVENTING_AUTH_IAS_PASSWORD: ${{ secrets.TEST_EVENTING_AUTH_IAS_PASSWORD }}
