name: Lint Go code

on:
  pull_request:
    branches:
      - "main"
      - "release-*"
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - 'sec-scanners-config.yaml'

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  pull-requests: read
  # Optional: Allow write access to checks to allow the action to annotate code in the PR.
  checks: write

jobs:
  code-linter:
    name: "Run golangci-lint"
    steps:
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod" # This uses the Go version defined in the mod file, in contrast to setting a defined version.

      - name: Checkout code
        uses: actions/checkout@v4

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v1.55
